
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>
<form method="post" asp-controller="Home" asp-action="Test" class="form-control">
    <div class="form-control">
        
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>

