@using Microsoft.AspNetCore.Identity
@inject SignInManager<PandaUser> SignInManager
@inject UserManager<PandaUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            
            <li class="nav-item">
                <a class="nav-link nav-link-white active" href="/my-receipts">Receipts</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link nav-link-white active">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link nav-link-white active" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index","Home",new {area=""})">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-white active" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>

        }
    </ul>